/* Landing page styling */
html, body {
    height: 100%;
    margin: 0;
}

.landing-page {
    background-image: url('/static/css/photos/base_background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-section {
min-height: 100vh;
background-color: rgb(65, 62, 62);
}

.Info1 {
    color: #333; 
    font-size: 30px; 
    text-align: center; 
    padding: 20px; 
    margin-top: 50px; 
}

.content-section {
    min-height: 50vh; 
    background-color: #f8f8f8; 
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 50px; 
}

.content-image {
    max-height: 600px; 
    height: auto;
    width: 370px; 
    display: block;
    margin: 0 auto;
}
.image-container {
    flex-basis: 50%; 
    text-align: left; 
}

.togethr-text {
    color: white; 
    font-weight: bold; 
    font-size: 85px; 
    position: absolute; 
    top: 25%; 
    left: 13%; 
}

.slogan {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin: 5;
}

.left-slogan {
    position: absolute;
    top: 50%; 
    left: 13%; 
    color: rgb(65, 62, 62);
}

.right-slogan {
    position: absolute;
    top: 55%; 
    right: 63%; 
    color: white;
    font-weight: bold;
}

.left-brand-logo img {
    width: 415px;
    height: 140px;
    size: fixed;
}

/* Login styling */

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.login-image img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}
.login-image {
    width: 100%; 
    height: auto; 
    overflow: hidden;
}

.login-form-container {
    flex-basis: 50%; 
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f8f8;
    border-radius: 20px; 
    padding: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; 
    margin: auto;
    margin-left: 30px;
}

.back-home {
    margin-bottom: 1rem;
    
}

h1 {
    font-weight: bold;
}

.form-button-container {
    text-align: center; 
    margin-top: 20px; 
}

.btn.login-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 60%; 
    border-radius: 25px; 
    padding: 15px 0; 
    font-size: 18px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.btn.login-btn:hover {
    background-color: #0056b3;
}

.login-section {
    padding: 20px; 
}

/* Nav bar styling */
.navbar-right {
    position: fixed;
    top: 50%;
    right: 150px;
    transform: translateY(-50%);
    padding: 20px;
    border: 1px solid rgb(117, 117, 117);
    font-size: 14px;
}

.nav.flex-column {
    list-style: none;
    padding: 0;
    margin: 0;
    }

.nav-item {
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid rgb(117, 117, 117);
    }   

.nav-item-profile {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid rgb(117, 117, 117);
    }


.nav-item-logout {
    margin-top: 30px;
    text-align: center;
    border: 1px solid rgb(117, 117, 117);
    }
    
.nav-link {
    text-decoration: none;
    font-weight: bold;
    }