{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="login-container">
    <div class="login-image">
        <img src="{% static 'css/photos/pic3.jpg' %}" class="login-pic">
    </div>
    <div class="login-form-container">
        <a href="{% url 'home' %}" class="back-home"><< Back to Home</a>
        <h1>Welcome Back</h1>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" class="btn">Log In</button>
        </form>
    </div>
</div>

{% endblock %}
