{% extends 'base.html' %}
{% block content %}

<div class="timeline-body"> 
    {% if user.is_authenticated %}
    <div class="timeline-content-section">
        <form method="post" action="{% url 'timeline' %}" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="post_form" value="1">
            {{ form.as_p }}
            <input type="file" name="photo-file" accept="image/*">
            <button type="submit" class="post-button">Post</button> 
        </form>
        <br><br>
    </div>
    {% endif %}    
<div class="posts">
        {% for post in posts %}
            <div class="post">
                <strong>{{ post.user.username }}</strong>
                <p>{{ post.body }}</p>
                <small>Posted on {{ post.created_at }}
                    {% if post.photo %}
                    <img src="{{ post.photo.url }}" alt="Photo for post">
                {% endif %}
                    ~  {{ post.likes }} Likes  ~ 
                    {% if user in post.like.all %}
                        <a href="{% url 'like_post' post.id %}">Unlike</a>
                    {% else %}
                        <a href="{% url 'like_post' post.id %}">Like</a>
                    {% endif %}
                </small> 
                <br><br>
                <ul>
                    {% for comment in post.comment_set.all %}
                        <li>
                            <strong>{{ comment.user.username }}</strong>
                            <span>{{ comment.body }}</span> 
                            <small>Commented on {{ comment.created_at }}
                            ~ {{ comment.likes }} Likes  ~ 
                            {% if user in comment.like.all %}
                                <a href="{% url 'like_comment' comment.id %}">Unlike</a>
                            {% else %}
                                <a href="{% url 'like_comment' comment.id %}">Like</a>
                            {% endif %}
                            </small> 
                        <br><br>
                        </li>
                    {% endfor %}
                </ul>
                <form method="post" action="{% url 'timeline' %}">
                    {% csrf_token %}
                    <input type="hidden" name="comment_form" value="1">
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    {{ comment_form.as_p }}
                    <button type="submit">Add Comment</button>
                </br></br>
                </form>             
            </div>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}
