{% extends 'base.html' %}
{% block content %}
<div class="timeline">
    {% if user.is_authenticated %}
    <div class="create-post-container">
        <form method="post" action="{% url 'timeline' %}" class="post-form">
            {% csrf_token %}
            <input type="hidden" name="post_form" value="1">
            {{ form.as_p }}
            <button type="submit" class="post-button"></button> 
        </form>
    </div>
    {% endif %}
    <div class="posts">
        {% for post in posts %}
        <div class="post">
            <strong>{{ post.user.username }}</strong>
            <p>{{ post.body }}</p>
            <small>{{ post.created_at }}</small>
            <ul>
                {% for comment in post.comment_set.all %}
                <li>
                    <strong>{{ comment.user.username }}</strong>
                    <span>{{ comment.body }}</span>
                    <small>Commented on {{ comment.created_at }}</small>
                </li>
                {% endfor %}
            </ul>
            <form method="post" action="{% url 'timeline' %}">
                {% csrf_token %}
                <input type="hidden" name="comment_form" value="1">
                <input type="hidden" name="post_id" value="{{ post.id }}">
                {{ comment_form.as_p }}
                <button type="submit">Add Comment</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
