profile.html

{% extends 'base.html' %}
{% block content %}

<style>
    h3 {
        margin-top: 20px;
        width: 180px;
        font-weight: bold;
        text-align: center;
        border-radius: 10px;
        background-color: #ffffff; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
        margin-left: auto;
        margin-right: auto;   
    }

    .profile-container {
        background-color: #f8f8f8; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        margin-bottom: 5px;
        padding: 7px;
        width: 50em;
        height: 40em;
        border: 4px;
        margin: 0 auto;
        margin-left: 50px auto;
        }

    h5 {
        font-size: 15px;
    }

    .col-2{
        font-size: 15px;
        flex-direction: row;
        width: 250px;
        margin-left: 40px;
    }

    button {
        margin-left: 40px;
    }


</style>

{% if profile %}
  <div class="profile-container">
    <h3>@{{ profile.user.username }}</h3>
    <br/><br/>
   
    <div class="col-2">
        <div class="card">
            <h5 class="card-header">Following</h5>
            <div class="card-body">
                <p class="card-text">{% for following in profile.follows.all %}
                <a href="{% url 'profile' following.user.id %}"> @{{ following }}</a><br/>
                {% endfor %}</p>
            </div>
        </div>
    </div>
    <br/><br/>
   
    <div class="col-2">
        <div class="card">
            <h5 class="card-header">Followers</h5>
            <div class="card-body">
                <p class="card-text">{% for following in profile.followed_by.all %}
                    <a href="{% url 'profile' following.user.id %}"> @{{ following }}</a><br/>
                {% endfor %}</p>
            </div>
        </div>
    </div>

</br>
    <form method=POST>
        {% csrf_token %}
        {% if profile in user.profile.follows.all %}
            <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">Unfollow @{{ profile.user.username|lower}}</button>
        {% else %}
            <button class="btn btn-danger" name="follow" value="follow" type="submit">Follow @{{ profile.user.username|lower}}</button>
        
        {% endif %}
    </form>
  </div>
{% endif %}

{% endblock %}